/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Linko implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * linko.css
 *
 * Linko stylesheet
 *
 */
.container{
    width: 100%;
}
#carddeck,#playertables{
    float: left;
}
#carddeck{
    width: 13%;
    margin-right: 2%;
    min-height: 340px;
}
#playertables{
    width: 85%;
    min-height: 340px;
}
.playertable{
    font-weight: bold;
}
.clear{
    clear: both;
}
.playertablecard,drawablecard{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 87px;
    height: 134px;
    /*background-image: url('img/cards.png'); /* temp hack to see it*/
}

/*** cards on table ***/

.cardontable {
    position: absolute;
    width: 87px;
    height: 134px;
    background-image: url('img/cards.png'); 
}

.debug{
    min-height: 30px;
    min-width: 30px;
    background: greenyellow;
    border: 3px black solid;
}